body{ background-color: lightgray;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.card{
    width: 320px;
    border-radius: 10px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    text-align: center;
    background-color:#FFFFFF;
}
.incard{
    background: rgba(54, 133, 255, 1);
height: 288px;
width: 100%px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;}

.incard > img{ width: 160px;
height: 160px;}


.card > h1{color: #1F314F;
font-size: 22px;}
.card > p{color: #7D889E;
font-size: 15px;
}


