body {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.learn{width:25rem ;
    height: 12rem;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-right: 3rem;
    font-size:large;
    line-height: 25px;
    
    

}

.cardout{display: flex;
 flex-direction: column;
 gap: 2rem;
margin-right: 5rem;
}
.divmtav {
  width: 100rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 107, 107);
  border: 1px solid black;
}
.cardoni {
  border-radius: 5px;
  width: 38rem;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  border:none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.shesavsebi {
  display: flex;
  width: 27rem;
  height: 3rem;
  border: 1px solid gray;
  border-radius: 3px;
  align-items: center;
  padding-left: 2rem;
  font-weight: 700;
  color: gray;
}
.qvemobutton {
  display: flex;
  width: 27rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #38cc8b;
}
.pdabla {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 27rem;
}
.pbold {
  font-weight: 800;
  color: red;
}

.topbutt {
  background-color: #5E54A4;
  color: white;
  border: 1px;
  border-radius: 5px;
  width: 38rem;
  height: 4rem;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5px;
  }

.h4bolder{font: weight 1000;
   

}
.h4ti{font-weight: 200;}
.pgray{color: gray;}